@page "/map-view"
@using System.Text.Json;
@using UKCrimeApp.Models;
@using UKCrimeApp.Services;
@inject AppState appState
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@implements IDisposable

<h1 class="page-title">Crime Data Map View</h1>

<div id="map" style="height: 400px;"></div>

<button class="btn btn-primary mt-3" @onclick="GoBackToSearch">Back to Search</button>

@code {
    private IJSObjectReference _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/MapInterop.js");

            var crimesJson = JsonSerializer.Serialize(appState.CurrentCrimes, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase });
            Console.WriteLine(crimesJson);
            await _module.InvokeVoidAsync("initializeMap", "map", crimesJson);
        }
    }

    private void GoBackToSearch()
    {
        NavigationManager.NavigateTo("/crime-summary");
    }

    public void Dispose()
    {
        _module?.DisposeAsync();
    }
}
